.animal-selector {
  background: $green-dark;
  border: 1px solid rgba($black, 0.75);
  border-radius: 5px;
  box-shadow: 0 2px 1px rgba($white, 0.25) inset, 0 1px 2px $black;
  box-sizing: border-box;
  color: $white;
  float: right;
  outer-deboss: 5px;
  padding: 10px;
  position: relative;
  width: 405px;

  .general-filters {
    background: rgba($black, 0.33);
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba($black, 0.5) inset;
    box-sizing: border-box;
    height: 50px;
    padding: 10px 5px;
    position: relative;
    text-align: left;

    .filter-menu {
      font-size: 14px;
      line-height: 30px;
      position: absolute;
      text-align: center;
      z-index: 1;

      button[name="characteristic"] {
        padding: 0 10px;
        position: relative;
        text-align: left;
        text-shadow: 0 1px 1px $black;
        width: 110px;

        &:hover {
          box-shadow: 0 0 0 1px rgba($white, 0.5) inset;
        }

        &:after {
          border: 4px solid transparent;
          border-top-color: $white;
          content: "";
          height: 0;
          margin-top: -2px;
          position: absolute;
          right: 5px;
          top: 50%;
          width: 0;
        }
      }

      .menu {
        background: $white;
        box-shadow: 0 2px 3px $black;
        color: $green-dark;
        font-size: 12px;
        overflow: hidden;
        padding-top: 2px;
        right: 0;
        top: 100%;
        white-space: nowrap;
        z-index: 1;

        button {
          border-top: 1px solid $gray;
          display: block;
          padding: 0 10px;
          width: 110px;

          &:hover {
            background: $green;
            color: $white;
          }

          img {
            display: none;
          }
        }

        &.hidden {
          display: none;
        }
      }

      &.open {
        button[name="characteristic"] {
          background: $white;
          border-bottom: 1px solid $gray;
          color: $green-dark;
          text-shadow: none;
        }
      }
    }

    .search {
      display: inline-block;
      float: right;
      margin: 5px 5px 0 0;
      position: relative;

      i[rel="search"] {
        font-size: 12px;
        left: 7px;
        position: absolute;
        top: 4px;
        z-index: 1;
      }

      input[name="search"] {
        appearance: none;
        background: $black;
        border: 2px solid rgba($gray, 0.5);
        border-radius: 20px;
        box-sizing: border-box;
        color: $white;
        font-family: inherit;
        font-size: 12px;
        height: 20px;
        padding: 0 10px 0 20px;
        vertical-align: top;
        width: 160px;
      }
    }
  }

  .characteristic-filters {
    clearfix();
    padding: 5px 0;
    position: relative;

    .filter-menu {
      box-sizing: border-box;
      float: left;
      margin-left: 7px;
      width: 71px;

      &:first-child {
        margin-left: 0;
      }

      button[name="characteristic"] {
        standard-button();
        float: left;
        font-size: 12px;
        font-weight: bold;
        height: 22px;
        padding: 0;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

      .menu {
        background: lighten($green, 0.33);
        border: 1px solid $black;
        bottom: 100%;
        box-sizing: border-box;
        height: 50px;
        left: 0;
        opacity: 1;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 1;

        &.hidden {
          display: none;
        }

        button[name="characteristic-value"] {
          float: left;

          img {
            background: black;
            height: 40px;
            font-size: 12px;
            margin: 4px 0 4px 4px;
            width: 40px;
          }

          .label {
            display: none;
          }

          &.selected img {
            box-shadow: 0 0 0 1px $white;
          }
        }

        button[name="clear-characteristic"] {
          height: 40px;
          font-size: 12px;
          margin: 5px 0 5px 5px;
          text-align: center;
          width: 58px;
        }
      }

      &.open button[name="characteristic"] {
        background: lighten($green, 0.33);

        &:after {
          border: 6px solid transparent;
          border-bottom-color: lighten($green, 0.33);
          bottom: 100%;
          content: "";
          height: 0;
          margin: 0 0 -1px -6px;
          position: absolute;
          left: 50%;
          width: 0;
        }
      }

      &.in-use button[name="characteristic"] {
        background: rgba($white, 0.25);
      }
    }
  }

  .selection-area {
    background: rgba($black, 0.33);
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba($black, 0.5) inset;

    .items {
      clearfix();
      margin: 0 -1px;
      min-height: 300px;
      position: relative;

      [data-animal] {
        border: 1px solid $green-dark;
        box-sizing: border-box;
        cursor: pointer;
        float: left;
        font-size: 14px;
        opacity: 1;
        transition: opacity 0.25s ease-in-out;

        &:hover {
          background: rgba($black, 0.5);
        }

        &.dimmed {
          opacity: 0.33;
        }

        &.hidden {
          display: none;
        }
      }

      &[data-items="gt20"] [data-animal] {
        font-size: 12px;
        padding-left: 5px;
        width: 33.33%;

        img {
          display: none;
        }
      }

      &[data-items="20"] [data-animal] {
        padding: 7px 0 6px;
        text-align: center;
        width: 50%;

        img {
          display: none;
        }
      }

      &[data-items="10"] [data-animal],
      &[data-items="5"] [data-animal] {
        clearfix();
        padding: 0;
        text-align: center;
        width: 50%;

        .image {
          float: left;
          height: 60px;
          overflow: hidden;
          text-indent: -15px;
          width: 60px;

          img {
            height: 100%;
          }
        }

        .label {
          float: left;
          margin-left: 10px;
          line-height: 60px;
        }
      }

      &[data-items="5"] [data-animal] {
        width: 100%;
      }

      .none {
        display: none;
        font-size: 12px;
        margin-top: 125px;
        text-align: center;

        button[name="clear-filters"] {
          text-decoration: underline;
        }
      }

      &[data-items="0"] .none {
        display: block;
      }

      .animal-details {
        background: $black;
        font-size: 12px;
        height: 100%;
        left: 0;
        opacity: 1;
        overflow: auto;
        position: absolute;
        top: 0;
        transform: scale(1);
        transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
        width: 100%;

        &.hidden {
          transform: scale(0.95);
          opacity: 0;
        }

        .images {
          float: left;
          height: 100%;
          width: 30%;

          img {
            max-width: 100%;
          }
        }

        .content,
        .options,
        .action {
          box-sizing: border-box;
          float: right;
          padding-left: 20px;
          width: 70%;
        }

        p.label {
          font-size: 16px;
        }

        button {
          standard-button();
        }
      }
    }
  }
}
