.animal-selector {
  background: $green-dark;
  border: 1px solid rgba($black, 0.75);
  border-radius: 5px;
  box-shadow: 0 2px 1px rgba($white, 0.25) inset, 0 1px 2px $black;
  box-sizing: border-box;
  color: $white;
  float: right;
  margin-top: 4px;
  outer-deboss: 5px;
  padding: 10px;
  position: relative;
  width: 405px;

  .general-filters {
    background: rgba($black, 0.33);
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba($black, 0.5) inset;
    box-sizing: border-box;
    height: 50px;
    padding: 10px 5px;
    position: relative;
    text-align: left;

    .filter-menu {
      font-size: 14px;
      line-height: 30px;
      position: absolute;
      z-index: 1;

      button[name="characteristic"] {
        padding: 0 20px 0 10px;
        position: relative;
        text-shadow: 0 1px 1px $black;

        &:hover {
          box-shadow: 0 0 0 1px rgba($white, 0.5) inset;
        }

        &:after {
          border: 4px solid transparent;
          border-top-color: $white;
          content: "";
          height: 0;
          margin-top: -2px;
          position: absolute;
          right: 5px;
          top: 50%;
          width: 0;
        }
      }

      .menu {
        background: $white;
        box-shadow: 0 2px 3px $black;
        color: $green-dark;
        font-size: 12px;
        overflow: hidden;
        padding-top: 2px;
        right: 0;
        text-align: center;
        top: 100%;
        white-space: nowrap;

        button {
          border-top: 1px solid $gray;
          box-sizing: border-box;
          display: block;
          min-width: 100%;
          padding: 0 10px;

          &:hover,
          &.selected {
            background: $green;
            color: $white;
          }

          img {
            display: none;
          }
        }

        &.hidden {
          display: none;
        }
      }

      &.open {
        button[name="characteristic"] {
          background: $white;
          border-bottom: 1px solid $gray;
          color: $green-dark;
          text-shadow: none;
        }
      }
    }

    .search {
      display: inline-block;
      float: right;
      margin: 5px 5px 0 0;
      position: relative;

      i[rel="search"] {
        font-size: 12px;
        left: 7px;
        position: absolute;
        top: 4px;
        z-index: 1;
      }

      input[name="search"] {
        appearance: none;
        background: $black;
        border: 2px solid rgba($gray, 0.5);
        border-radius: 20px;
        box-sizing: border-box;
        color: $white;
        font-family: inherit;
        font-size: 12px;
        height: 20px;
        padding: 0 10px 0 20px;
        vertical-align: top;
        width: 160px;
      }
    }
  }

  .characteristic-filters {
    clearfix();
    padding: 5px 0;
    position: relative;

    .filter-menu {
      box-sizing: border-box;
      float: left;
      margin-left: 7px;
      width: 71px;

      &:first-child {
        margin-left: 0;
      }

      button[name="characteristic"] {
        standard-button();
        float: left;
        font-size: 12px;
        font-weight: bold;
        height: 22px;
        padding: 0;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

      .menu {
        background: lighten($green, 0.33);
        border: 1px solid $black;
        bottom: 100%;
        box-sizing: border-box;
        font-size: 12px;
        height: 50px;
        left: 0;
        opacity: 1;
        position: absolute;
        width: 100%;
        z-index: 1;

        &.hidden {
          display: none;
        }

        button[name="characteristic-value"] {
          background: url("images/characteristics-values.png");
          float: left;
          height: 40px;
          margin: 4px 0 0 5px;
          position: relative;
          width: 40px;

          &.selected {
            border: 1px solid $gold;
            margin: 3px 0 0 4px;
          }

          &[value="patternVerticalStripe"]   {background-position: -8px -152px;}
          &[value="patternHorizontalStripe"] {background-position: -56px -152px;}
          &[value="patternSpots"]            {background-position: -104px -152px;}
          &[value="patternSolid"]            {background-position: -152px -152px;}

          &[value="coatTanYellow"]           {background-position: -8px -56px;}
          &[value="coatOrange"]              {background-position: -56px -56px;}
          &[value="coatRedBrown"]            {background-position: -104px -56px;}
          &[value="coatBrownBlack"]          {background-position: -152px -56px;}
          &[value="coatWhite"]               {background-position: -200px -56px;}
          &[value="coatGray"]                {background-position: -248px -56px;}
          &[value="coatBlack"]               {background-position: -296px -56px;}

          &[value="hornsStraight"]           {background-position: -8px -104px;}
          &[value="hornsSimpleCurve"]        {background-position: -56px -104px;}
          &[value="hornsLyrate"]             {background-position: -104px -104px;}
          &[value="hornsCurly"]              {background-position: -152px -104px;}

          &[value="tailBushy"]               {background-position: -8px -200px;}
          &[value="tailSmooth"]              {background-position: -56px -200px;}
          &[value="tailTufted"]              {background-position: -104px -200px;}
          &[value="tailLong"]                {background-position: -152px -200px;}
          &[value="tailShort"]               {background-position: -200px -200px;}

          &[value="buildStocky"]             {background-position: -8px -8px;}
          &[value="buildTall"]               {background-position: -56px -8px;}
          &[value="buildLanky"]              {background-position: -104px -8px;}
          &[value="buildSmall"]              {background-position: -152px -8px;}
          &[value="buildLowSlung"]           {background-position: -200px -8px;}

          .label {
            background: $gold;
            bottom: 100%;
            border-radius: 3px;
            box-shadow: 0 1px 2px $black;
            color: $black;
            display: none;
            font-size: 10px;
            font-weight: bold;
            left: 50%;
            margin: 0 0 3px -10px;
            padding: 2px 10px;
            position: absolute;
            white-space: nowrap;
            z-index: 1;

            &:after {
              border: 5px solid transparent;
              border-top-color: $gold;
              content: "";
              left: 5px;
              position: absolute;
              top: 100%;
            }
          }

          &:hover .label {
            display: block;
          }
        }

        button[name="clear-characteristic"] {
          standard-button();
          float: right;
          margin: 11px 7px 0 0;
          text-align: center;
        }
      }

      &.open button[name="characteristic"] {
        background: lighten($green, 0.33);

        &:after {
          border: 6px solid transparent;
          border-bottom-color: lighten($green, 0.33);
          bottom: 100%;
          content: "";
          height: 0;
          margin: 0 0 -1px -6px;
          position: absolute;
          left: 50%;
          width: 0;
        }
      }

      &.in-use button[name="characteristic"] {
        background: rgba($white, 0.25);
      }
    }
  }

  .selection-area {
    background: rgba($black, 0.33);
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba($black, 0.5) inset;

    .items {
      clearfix();
      height: 345px;
      margin: 0 -1px;
      position: relative;

      [data-animal] {
        border: 1px solid $green-dark;
        box-sizing: border-box;
        cursor: pointer;
        float: left;
        font-size: 14px;
        opacity: 1;
        transition: opacity 0.25s ease-in-out;

        &:hover {
          background: rgba($black, 0.5);
        }

        &.dimmed {
          opacity: 0.33;
        }

        &.hidden {
          display: none;
        }

        .image {
          background: url("images/animal-thumbnails.jpg");
        }

        &[data-animal="aardvark"]         .image {background-position: -2px -0px;}
        &[data-animal="aardwolf"]         .image {background-position: -2px -72px;}
        &[data-animal="baboon"]           .image {background-position: -2px -144px;}
        &[data-animal="batEaredFox"]      .image {background-position: -2px -216px;}
        &[data-animal="otherBird"]        .image {background-position: -2px -3312px;}
        &[data-animal="buffalo"]          .image {background-position: -2px -288px;}
        &[data-animal="bushbuck"]         .image {background-position: -2px -360px;}
        &[data-animal="caracal"]          .image {background-position: -2px -432px;}
        &[data-animal="cheetah"]          .image {background-position: -2px -504px;}
        &[data-animal="civet"]            .image {background-position: -2px -576px;}
        &[data-animal="dikDik"]           .image {background-position: -2px -648px;}
        &[data-animal="eland"]            .image {background-position: -2px -720px;}
        &[data-animal="elephant"]         .image {background-position: -2px -792px;}
        &[data-animal="gazelleGrants"]    .image {background-position: -2px -864px;}
        &[data-animal="gazelleThompsons"] .image {background-position: -2px -936px;}
        &[data-animal="genet"]            .image {background-position: -2px -1008px;}
        &[data-animal="giraffe"]          .image {background-position: -2px -1080px;}
        &[data-animal="guineaFowl"]       .image {background-position: -2px -1152px;}
        &[data-animal="hare"]             .image {background-position: -2px -1224px;}
        &[data-animal="hartebeest"]       .image {background-position: -2px -1296px;}
        &[data-animal="hippopotamus"]     .image {background-position: -2px -1368px;}
        &[data-animal="honeyBadger"]      .image {background-position: -2px -1440px;}
        &[data-animal="hyenaSpotted"]     .image {background-position: -2px -1512px;}
        &[data-animal="hyenaStriped"]     .image {background-position: -2px -1584px;}
        &[data-animal="impala"]           .image {background-position: -2px -1656px;}
        &[data-animal="jackal"]           .image {background-position: -2px -1728px;}
        &[data-animal="koriBustard"]      .image {background-position: -2px -1800px;}
        &[data-animal="leopard"]          .image {background-position: -2px -1872px;}
        &[data-animal="lionFemale"]       .image {background-position: -2px -1944px;}
        &[data-animal="lionMale"]         .image {background-position: -2px -2016px;}
        &[data-animal="mongoose"]         .image {background-position: -2px -2088px;}
        &[data-animal="ostrich"]          .image {background-position: -2px -2160px;}
        &[data-animal="porcupine"]        .image {background-position: -2px -2232px;}
        &[data-animal="reedbuck"]         .image {background-position: -2px -2304px;}
        &[data-animal="reptiles"]         .image {background-position: -2px -2376px;}
        &[data-animal="rhinoceros"]       .image {background-position: -2px -2448px;}
        &[data-animal="rodents"]          .image {background-position: -2px -2520px;}
        &[data-animal="secretaryBird"]    .image {background-position: -2px -2592px;}
        &[data-animal="serval"]           .image {background-position: -2px -2664px;}
        &[data-animal="topi"]             .image {background-position: -2px -2736px;}
        &[data-animal="vervetMonkey"]     .image {background-position: -2px -2808px;}
        &[data-animal="warthog"]          .image {background-position: -2px -2880px;}
        &[data-animal="waterbuck"]        .image {background-position: -2px -2952px;}
        &[data-animal="wildcat"]          .image {background-position: -2px -3024px;}
        &[data-animal="wildebeest"]       .image {background-position: -2px -3096px;}
        &[data-animal="zebra"]            .image {background-position: -2px -3168px;}
        &[data-animal="zorilla"]          .image {background-position: -2px -3240px;}
        &[data-animal="human"]            .image {background-position: -2px -3384px;}
      }

      &[data-items="lots"] [data-animal] {
        font-size: 12px;
        height: 6.25%;
        padding: 1px 0 0 3px;
        width: 33.33%;

        .image {
          display: none;
        }
      }

      &[data-items="20"] [data-animal] {
        height: 10%;
        padding-top: 7px;
        text-align: center;
        width: 50%;

        .image {
          display: none;
        }
      }

      &[data-items="10"] [data-animal],
      &[data-items="5"] [data-animal] {
        clearfix();
        height: 20%;
        text-align: center;
        width: 50%;

        .image {
          float: left;
          height: 68px;
          overflow: hidden;
          text-indent: -15px;
          width: 68px;
        }

        .label {
          float: left;
          margin-left: 10px;
          line-height: 64px;
        }
      }

      &[data-items="5"] [data-animal] {
        width: 100%;
      }

      .none {
        display: none;
        font-size: 12px;
        margin-top: 125px;
        text-align: center;

        button[name="clear-filters"] {
          text-decoration: underline;
        }
      }

      &[data-items="0"] .none {
        display: block;
      }
    }
  }

  .animal-details {
    background: $black;
    background: rgba($black, 0.9);
    border-radius: 4px;
    border-width: 75px 5px 5px;
    box-shadow: 0 1px 1px rgba($white, 0.33) inset;
    box-sizing: border-box;
    font-size: 12px;
    height: 100%;
    left: 0;
    opacity: 1;
    overflow: auto;
    padding: 10px;
    position: absolute;
    top: 0;
    transform: scale(1);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    width: 100%;
    z-index: 1;

    &.hidden {
      transform: scale(0.95);
      opacity: 0;
    }

    .image-changer {
      position: relative;
      top: 0;

      .images {
        border-bottom: 1px solid $black;
        box-shadow: 0px 1px 1px -1px rgba($white, 0.5);
        overflow: hidden;
        position: relative;

        figure {
          height: 200px;
          margin: 0;
          left: 0;
          position: absolute;
          top: 0;

          &.active {
            position: relative;
            z-index: 1;
          }

          img {
            max-width: 100%;
          }
        }
      }

      .toggles {
        position: absolute;
        right: 0;
        top: 100%;

        button[name="toggle"] {
          standard-toggle();

          &:before {
            background: $green-dark;
          }
        }
      }
    }

    .content {
      height: 165px;
      overflow: auto;

      p.label {
        font-size: 24px;
        margin: 10px 0 -10px;
      }
    }

    .options {
      .group {
        margin: 10px 0;
      }

      label {
        display: inline-block;
      }
    }

    .action {
      bottom: 0;
      font-weight: bold;
      padding: 10px;
      position: absolute;
      right: 0;
      text-align: center;

      > label {
        display: inline-block;
        margin: 0 5px;
      }

      button[name="cancel"] {
        standard-button($red);
      }

      button[name="identify"] {
        standard-button($green-really);
      }
    }
  }

  .aux {
    left: 0;
    margin: 10px 0;
    position: absolute;
    text-align: right;
    top: 100%;
    width: 100%;

    button {
      font-size: 10px;
      margin: 0 7px;
      text-align: center;
      width: 120px;
    }
  }
}
