.animal-details {
  background: $black;
  background: rgba($black, 0.9);
  border-radius: 4px;
  border-width: 75px 5px 5px;
  box-shadow: 0 1px 1px rgba($white, 0.33) inset;
  box-sizing: border-box;
  font-size: 12px;
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  top: 0;
  transform: scale(1);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  width: 100%;
  z-index: 1;

  &.hidden {
    transform: scale(0.95);
    opacity: 0;
  }

  .image-changer {
    position: relative;
    top: 0;

    .images {
      border-bottom: 1px solid $black;
      box-shadow: 0px 1px 1px -1px rgba($white, 0.5);
      overflow: hidden;
      position: relative;

      figure {
        height: 200px;
        margin: 0;
        left: 0;
        position: absolute;
        top: 0;

        &.active {
          position: relative;
          z-index: 1;
        }

        img {
          max-width: 100%;
        }
      }
    }

    .toggles {
      position: absolute;
      right: 20px;
      top: 100%;

      button[name="toggle"] {
        standard-toggle();

        &:before {
          background: $green-dark;
        }
      }
    }
  }

  .content {
    height: 165px;
    overflow: auto;

    p.label {
      font-size: 24px;
      margin: 10px 0 -10px;
    }
  }

  .options {
    .group {
      margin: 10px 0;
    }

    label {
      display: inline-block;
    }
  }

  .action {
    bottom: 0;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: center;

    > label {
      display: inline-block;
      margin: 0 5px;
    }

    button[name="cancel"] {
      standard-button($red);
    }

    button[name="identify"] {
      standard-button($green-really);
    }
  }
}
