.animal-details {
  background: $black;
  border-radius: 4px;
  border-width: 75px 5px 5px;
  box-shadow: 0 1px 1px rgba($white, 0.33) inset;
  box-sizing: border-box;
  font-size: 11px;
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  transform: scale(1);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  width: 100%;
  z-index: 1;

  &:focus {
    outline: none;
  }

  &.hidden {
    transform: scale(0.95);
    opacity: 0;
  }

  .image-changer {
    position: relative;

    &:after {
      background: linear-gradient($black, rgba($black, 0));
      content: "";
      height: 15px;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 100%;
      width: 100%;
    }

    .images {
      border-bottom: 1px solid $black;
      box-shadow: 0px 1px 1px -1px rgba($white, 0.5);
      overflow: hidden;
      position: relative;

      figure {
        height: 200px;
        margin: 0;
        left: 0;
        position: absolute;
        top: 0;

        &.active {
          position: relative;
          z-index: 1;
        }

        img {
          max-width: 100%;
        }
      }
    }

    .toggles {
      position: absolute;
      right: 20px;
      top: 100%;
      z-index: 1;

      button[name="toggle"] {
        @extend #standard-toggle;

        &:before {
          background: $green-dark;
        }
      }
    }
  }

  .image-changer-shortcuts {
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
    overflow: hidden;
  }

  .content {
    height: 135px;
    overflow: auto;

    p.label {
      font-size: 16px;
      margin: 10px 0 -10px;
    }

    button[name="confusion"] {
      @extends #standard-button;
      border-radius: 10px;
      padding: 0 5px;
    }
  }

  .options {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;

    &:before {
      background: linear-gradient(rgba($black, 0), $black);
      bottom: 100%;
      content: "";
      height: 15px;
      left: 0;
      pointer-events: none;
      position: absolute;
      width: 100%;
    }

    .group {
      border-top: 1px solid rgba($green, 0.5);
      padding: 5px;

      .title {
        color: $gray;
        display: inline-block;
        width: 6em;

        [data-language="pl_pl"] &,
        [data-language="fi_fi"] & {
          letter-spacing: -1px;
        }
      }

      &.count,
      &.behavior {
        clearfix();

        label {
          cursor: pointer;

          > input {
            opacity: 0.01;
            position: absolute;
          }

          > .label {
            @extend #standard-button;
            padding: 2px 5px;
          }

          > input:checked + .label {
            background: $green-really;
          }
        }
      }
    }
  }

  .action {
    bottom: 0;
    font-weight: bold;
    padding: 2px;
    position: absolute;
    right: 0;

    button {
      line-height: 12px;

      &[name="cancel"] {
        @extend #standard-button;
        background: $red;
      }

      &[name="identify"] {
        @extend #standard-button
        background: $green-really;
      }
    }
  }
}

.confusion-popup {
  clearfix();
  background: $black;
  border: 2px solid $gold;
  border-radius: 5px;
  box-shadow: 0 3px 3px -3px $black;
  color: $white;
  font-size: 11px;
  padding: 15px;
  position: absolute;
  z-index: 1;

  &:after {
    border: 10px solid transparent;
    border-top-color: $gold;
    content: "";
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: 100%;
  }

  button[name="close"] {
    height: 1em;
    position: absolute;
    right: 0;
    top: 0;
    width: 1em;
  }

  .image {
    @extends #thumb-for;
    margin-right: 10px;
    height: 68px;
    float: left;
    width: 68px;
  }

  &.aardvark .image {
    @extend #thumb-for.aardvark;
  }

  &.aardwolf .image {
    @extend #thumb-for.aardwolf;
  }

  &.baboon .image {
    @extend #thumb-for.baboon;
  }

  &.bat .image {
    @extend #thumb-for.bat;
  }

  &.batEaredFox .image {
    @extend #thumb-for.batEaredFox;
  }

  &.otherBird .image {
    @extend #thumb-for.otherBird;
  }

  &.buffalo .image {
    @extend #thumb-for.buffalo;
  }

  &.bushbuck .image {
    @extend #thumb-for.bushbuck;
  }

  &.caracal .image {
    @extend #thumb-for.caracal;
  }

  &.cattle .image {
    @extend #thumb-for.cattle;
  }

  &.cheetah .image {
    @extend #thumb-for.cheetah;
  }

  &.civet .image {
    @extend #thumb-for.civet;
  }

  &.dikDik .image {
    @extend #thumb-for.dikDik;
  }

  &.duiker .image {
    @extend #thumb-for.duiker;
  }

  &.eland .image {
    @extend #thumb-for.eland;
  }

  &.elephant .image {
    @extend #thumb-for.elephant;
  }

  &.gazelleGrants .image {
    @extend #thumb-for.gazelleGrants;
  }

  &.gazelleThomsons .image {
    @extend #thumb-for.gazelleThomsons;
  }

  &.genet .image {
    @extend #thumb-for.genet;
  }

  &.giraffe .image {
    @extend #thumb-for.giraffe;
  }

  &.guineaFowl .image {
    @extend #thumb-for.guineaFowl;
  }

  &.hare .image {
    @extend #thumb-for.hare;
  }

  &.hartebeest .image {
    @extend #thumb-for.hartebeest;
  }

  &.hippopotamus .image {
    @extend #thumb-for.hippopotamus;
  }

  &.honeyBadger .image {
    @extend #thumb-for.honeyBadger;
  }

  &.hyenaSpotted .image {
    @extend #thumb-for.hyenaSpotted;
  }

  &.hyenaStriped .image {
    @extend #thumb-for.hyenaStriped;
  }

  &.impala .image {
    @extend #thumb-for.impala;
  }

  &.insectSpider .image {
    @extend #thumb-for.insectSpider;
  }

  &.jackal .image {
    @extend #thumb-for.jackal;
  }

  &.koriBustard .image {
    @extend #thumb-for.koriBustard;
  }

  &.leopard .image {
    @extend #thumb-for.leopard;
  }

  &.lionFemale .image {
    @extend #thumb-for.lionFemale;
  }

  &.lionMale .image {
    @extend #thumb-for.lionMale;
  }

  &.mongoose .image {
    @extend #thumb-for.mongoose;
  }

  &.ostrich .image {
    @extend #thumb-for.ostrich;
  }

  &.porcupine .image {
    @extend #thumb-for.porcupine;
  }

  &.reedbuck .image {
    @extend #thumb-for.reedbuck;
  }

  &.reptiles .image {
    @extend #thumb-for.reptiles;
  }

  &.rhinoceros .image {
    @extend #thumb-for.rhinoceros;
  }

  &.rodents .image {
    @extend #thumb-for.rodents;
  }

  &.secretaryBird .image {
    @extend #thumb-for.secretaryBird;
  }

  &.serval .image {
    @extend #thumb-for.serval;
  }

  &.steenbok .image {
    @extend #thumb-for.steenbok;
  }

  &.topi .image {
    @extend #thumb-for.topi;
  }

  &.vervetMonkey .image {
    @extend #thumb-for.vervetMonkey;
  }

  &.vulture .image {
    @extend #thumb-for.vulture;
  }

  &.warthog .image {
    @extend #thumb-for.warthog;
  }

  &.waterbuck .image {
    @extend #thumb-for.waterbuck;
  }

  &.wildcat .image {
    @extend #thumb-for.wildcat;
  }

  &.wildebeest .image {
    @extend #thumb-for.wildebeest;
  }

  &.zebra .image {
    @extend #thumb-for.zebra;
  }

  &.zorilla .image {
    @extend #thumb-for.zorilla;
  }

  &.human .image {
    @extend #thumb-for.human;
  }

  .description {
    float: left;
    max-width: 300px;

    p {
      margin: 0;

      &.label {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  .rump {
    display: inline-block;
    margin: 0;
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .animal-details {
    font-size: 12px;

    .options .group.count label > .label {
      margin-bottom: 2px;
    }
    .image-changer .images figure {
      height: auto;
    }
  }
}
