button {
  appearance: none;
  background: transparent;
  border: 0;
  box-sizing: content-box;
  display: inline-block;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: inherit;
  text-shadow: inherit;
  width: auto;

  &::-moz-focus-inner {
    border: 0;
    outline: 1px dotted black;
    padding: 0;
  }

  &:focus {
    outline: 1px dotted;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}
