button {
  appearance: none;
  background: transparent;
  border: 0;
  display: inline-block;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
  overflow: visible;
  width: auto;

  // TODO: &::-moz-focus-inner {}
}
