$black = #140b03;
$white = #f9f8f3;

$red = #d32323;
$red-dark = #7c011c;

$green = #525b46;
$green-light = #85937a;
$green-dark = #2b2e27;

$gray = #dcdcdc;

standard-button() {
  border: 1px solid $black;
  border-radius: 2px;
  box-shadow: 0px 1px 0px rgba($white, 0.125) inset;
  box-sizing: border-box;
  color: $gray;
  display: inline-block;
  font: inherit;
  padding: 3px 8px 3px 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px $black;
  vertical-align: middle;

  &:hover {
    standard-button-hover();
  }

  &:active {
    standard-button-active();
  }

  &:disabled,
  &.disabled {
    standard-button-disabled();
  }
}

standard-button-hover() {
  border-color: #000;
}

standard-button-active() {
  background: rgba($black, 0.25);
  box-shadow: 0 1px 0 rgba($black, 0.25) inset;
}

standard-button-disabled() {
  opacity: 0.5;
}
