.content-page {
  @extend #paper-stripe;
  background: $white;
  box-shadow: 0 3px 10px $black;
  box-sizing: border-box;
  color: $black;
  margin: 0 auto;
  padding: 33px 50px;
  position: relative;
  max-width: 1000px;
}
