$open-sans-condensed = "Open Sans Condensed", "Arial Narrow", sans-serif

.explore
  height 100%
  
  .tools
    width 100%
    height 30px
    padding 0 20%
      
    select.filter
      outer-deboss(30px)
      
    .slider
      display inline-block
      margin 0 10px
    
    .ui-slider
      position: relative
      height: 7px
      width: 300px
      opacity: .7
      background: #2B2E27
      color: #333333
      border-radius: 5px
    
    .ui-slider-handle
      background #676652
      position absolute
      z-index 2
      width 14px
      height 14px
      border-radius 7px
      top -.3em
      margin-left -.6em
      cursor default
      border 1px solid $black
    
    .classification-buttons
      outer-deboss(3px)
      display inline-block
      position relative
    
      input[type='radio']
        display none
      
        &:checked + label
          box-shadow 0 1px 0 rgba($black, 0.25) inset
          border-color $black;
          background rgb(103, 102, 82)
      label
        @extend #standard-button
        float right
        font-size 10px
      label:last-child
        margin-right 4px
  
  .map-container
    clear both
    width 100%
    height 100%
    margin 20px 0 0 0
    min-height 700px
    background #505050
    
    .map
      min-height inherit
      height 100%
