.home-page {
  clearfix();
  color: $white;
  font-size: 14px;
  margin: 0 auto;
  text-shadow: 0 1px 1px $black;
  width: 1000px;

  .recents {
    float: left;
    text-align: center;
    width: 600px;

    .images {
      margin-bottom: 1em;
      position: relative;

      figure {
        border: 5px solid $white;
        box-shadow: 0 2px 5px $black;
        box-sizing: border-box;
        height: 420px;
        margin: 0;
        opacity: 0.75;
        overflow: hidden;
        left: 0;
        position: absolute;
        top: 0;
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
        width: 600px;

        &.active {
          z-index: 1;
          opacity: 1;
          position: relative;
          transform: none;
        }

        &.before {
          transform: rotate(-1deg) translateX(-7px);

          & + .before {
            transform: rotate(-3deg) translateX(-10px);
          }
        }

        &.after {
          transform: rotate(4deg) translateX(7px);

          & + .after {
            transform: rotate(6deg) translateX(10px);
          }
        }

        img {
          display: block;
          max-width: 100%;
        }
      }
    }

    .toggles {
      button[name="toggle"] {
        @extend #standard-toggle;
      }
    }
  }

  .introduction {
    float: left;
    margin: 0 50px;
    width: 300px;

    h1 {
      font-size: 30px;
      font-weight: normal;
      line-height: 1;
    }

    .progress {
      margin: 10px 0;

      .label {
        display: inline-block;
        width: 25%;
      }

      .track {
        display: inline-block;
        height: 5px;
        margin-bottom: 2px;
        outer-deboss: 3px;
        position: relative;
        width: 70%;

        &:before {
          border-radius: 5px;
        }

        .fill {
          background: $green-really;
          border-radius: 5px;
          bottom: 0;
          box-shadow: 0 1px 1px rgba($white, 0.5) inset;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }

    .action {
      margin-top: 25px;

      a {
        @extend #standard-button;
        background: $red;
        outer-deboss: 5px;
        padding: 5px 25px;
      }
    }
  }
}
