.home-page {
  clearfix();
  color: $white;
  margin: 0 auto;
  text-align: center;
  width: 1000px;

  .recents {
    float: left;
    height: 450px;
    vertical-align: middle;
    width: 600px;

    figure {
      border: 5px solid $white;
      box-shadow: 0 2px 5px $black;
      box-sizing: border-box;
      height: 420px;
      margin: 0;
      opacity: 0.75;
      overflow: hidden;
      position: absolute;
      transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
      width: 600px;

      &.active {
        z-index: 1;
        opacity: 1;
        transform: none;
      }

      & + figure {
        transform: rotate(2deg) translateX(10px);

        & + figure {
          transform: rotate(-3deg) translateX(-15px);
        }
      }

      img {
        display: block;
        max-width: 100%;
      }
    }
  }

  .introduction {
    float: left;
    font-size: 14px;
    margin: 50px;
    text-align: left;
    text-shadow: 0 1px 1px $black;
    vertical-align: middle;
    width: 300px;

    h1 {
      font-weight: normal;
    }

    a.action {
      standard-button();
      outer-deboss();
      background: $red;
      padding: 5px 25px;
    }
  }
}
