.banner
  font-size: 14px
  perspective: 500
  position: absolute
  text-align: center
  text-shadow: none
  transform: translate(-7px, 0) rotate(-5deg)
  transform-style: preserve-3d
  z-index: 2

  .fold
    background: darken($red, 15%)
    bottom: -5px
    margin: 0 -2px
    position: absolute
    width: 25px

  a
    background: linear-gradient(top, $red, darken($red, 10%))
    box-shadow: 0 1px 3px rgba(#000, 0.25)
    color: #fff
    display: block
    padding: 5px 80px 5px 50px
    position: relative
    text-decoration: none
    transition: box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out
    z-index: 1

  &.save-snapshot-serengeti
    left: 0
    top: 0

    .fold
      border-top-left-radius: 10px 50px
      height: 45px
      right: 100%

    a
      border-bottom-right-radius: 10px 50px
      transform-origin: left center

      .lift-banner &
      &:hover
        box-shadow: 3px 5px 10px rgba(#000, 0.25)
        transform: rotateY(-5deg)

  &.save-the-memes
    bottom: 60px
    font-size: 10px
    right: -15px
    text-transform: uppercase
    letter-spacing: 1px

    .fold
      border-top-right-radius: 10px 50px
      height: 25px
      left: 100%

    a
      border-bottom-left-radius: 10px 50px
      transform-origin: right center

      .lift-banner &
      &:hover
        box-shadow: 3px 5px 10px rgba(#000, 0.25)
        transform: rotateY(5deg)
