.home-page {
  clearfix();
  color: $white;
  font-size: 14px;
  margin: 0 auto;
  text-shadow: 0 1px 1px $black;
  width: 1000px;

  .recents {
    float: left;
    text-align: center;
    width: 600px;

    .images {
      margin-bottom: 1em;
      position: relative;

      figure {
        background: gray
        border: 5px solid $white;
        box-shadow: 0 2px 5px $black;
        box-sizing: border-box;
        height: 420px;
        margin: 0;
        overflow: hidden;
        left: 0;
        position: absolute;
        top: 0;
        transition: transform 0.5s ease-out;
        width: 600px;

        &.active {
          z-index: 1;
          position: relative;
          transform: none;
        }

        &.before {
          transform: rotate(-1deg) translateX(-7px);

          & + .before {
            transform: rotate(-3deg) translateX(-10px);
          }
        }

        &.after {
          transform: rotate(4deg) translateX(7px);

          & + .after {
            transform: rotate(6deg) translateX(10px);
          }
        }

        img {
          display: block;
          max-width: 100%;
        }
      }
    }

    .toggles {
      button[name="toggle"] {
        @extend #standard-toggle;
      }
    }
  }

  .introduction {
    float: left;
    margin: 0 50px;
    width: 300px;

    h1 {
      font-size: 30px;
      font-weight: normal;
      line-height: 1;
    }

    .progress {
      p {
        margin: 0.25em;
      }

      .season {
        display: inline-block;
        vertical-align: middle;
        width: 75px;
      }

      .track {
        display: inline-block;
        height: 6px;
        outer-deboss: 2px;
        position: relative;
        vertical-align: middle;
        width: 205px;

        &:before {
          border-radius: 5px;
        }

        .fill {
          background: $green-really;
          border-radius: 5px;
          bottom: 0;
          box-shadow: 0 1px 1px rgba($white, 0.5) inset;
          left: 0;
          max-width: 100%;
          position: absolute;
          top: 0;
          transition: width 0.5s ease-in;
        }
      }
    }

    .all-seasons-complete {
      background: linear-gradient(top, darken($green-really, 10%), $green-really);
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba($black, 0.33);
      font-size: 12px;
      margin: 0 -3px;
      padding: 1px 15px;
      position: relative;
      text-shadow: none;
    }

    .action {
      margin-top: 25px;

      a {
        @extend #standard-button;
        background: $red;
        outer-deboss: 5px;
        padding: 5px 25px;
      }
    }
  }
}

.save-snapshot-serengeti-banner
  font-size: 14px
  perspective: 500
  position: absolute
  text-align: center
  text-shadow: none
  transform: translate(-7px, 0) rotate(-5deg)
  transform-style: preserve-3d
  z-index: 2


  .fold
    background: darken($red, 15%)
    border-top-left-radius: 10px 50px
    bottom: -5px
    height: 45px
    margin-right: -2px
    position: absolute
    right: 100%
    width: 25px

  a
    background: linear-gradient(top, $red, darken($red, 10%))
    border-bottom-right-radius: 10px 50px
    box-shadow: 0 1px 3px rgba(#000, 0.25)
    color: #fff
    display: block
    padding: 5px 80px 5px 50px
    position: relative
    text-decoration: none
    transition: box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out
    transform-origin: left center
    z-index: 1

    .lift-banner &
    &:hover
      box-shadow: 3px 5px 10px rgba(#000, 0.25)
      transform: rotateY(-5deg)
