@font-face {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/icons.eot");
  src: url("fonts/icons.eot?#iefix") format('embedded-opentype'), url("fonts/icons.woff") format('woff'), url("fonts/icons.ttf") format('truetype'), url("fonts/icons.svg#icons") format('svg');
}

i {
  display: inline-block;
  font-size: 1em
  height: 1em;
  line-height: 1em;
  position: relative;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 1em;

  &:before {
    font-family: icons;
    font-style: normal;
    font-weight: normal;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    top: 0;
    width: 100%;
  }

  &[rel="play"]:before          { content: '\25b6'; } /* '▶' */
  &[rel="pause"]:before         { content: '\2389'; } /* '⎉' */
  &[rel="stop"]:before          { content: '\25aa'; } /* '▪' */
  &[rel="heart"]:before         { content: '\2665'; } /* '♥' */
  &[rel="heart-empty"]:before   { content: '\2661'; } /* '♡' */
  &[rel="chat"]:before          { content: '\e720'; } /* '' */
  &[rel="location"]:before      { content: '\e724'; } /* '' */
  &[rel="facebook"]:before      { content: '\f301'; } /* '' */
  &[rel="twitter"]:before       { content: '\f303'; } /* '' */
  &[rel="camera"]:before        { content: '📷'; } /* '\1f4f7' */
  &[rel="search"]:before        { content: '🔍'; } /* '\1f50d' */

}
