.image-switcher {
  display: inline-block;
  float: left;

  &:focus {
    // For now, so Miller doesn't kill me.
    // TODO: Make it clear that this is in focus.
    outline: 0;
  }

  .images {
    position: relative;

    figure {
      border: 5px solid $white;
      box-sizing: border-box;
      height: 410px;
      left: 0;
      margin: 0;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 580px;

      &.active {
        box-shadow: 0 3px 5px rgba($black, 0.33);
        opacity: 1;
        position: relative;
        z-index: 1;
      }

      &.satellite {
        left: 0;
        position: absolute;
        top: 0;
      }

      img {
        display: block;
        width: 100%;
      }
    }
  }

  .controls {
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    margin-top: 5px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 1px rgba($white, 0.5);

    button[name="play"],
    button[name="pause"],
    button[name="satellite"],
    button[name="favorite"],
    button[name="unfavorite"] {
      color: darken($brown, 75%);
      height: 20px;
      margin: 0 15px;
      overflow: hidden;
      width: 20px;
    }

    .play {
      button[name="play"],
      button[name="pause"] {
        font-size: 14px;
      }

      button[name="pause"] {
        display: none;
      }
    }

    .toggles {
      border-left: 1px solid rgba($white, 0.25);
      border-right: 1px solid rgba($black, 0.33);
      box-shadow: -2px 0 0 -1px rgba($black, 0.33), 2px 0 0 -1px rgba($white, 0.25);
      display: inline-block;
      padding: 0 10px;

      button[name="toggle"] {
        color: transparent;
        height: 20px;
        position: relative;
        text-shadow: none;
        width: 20px;

        &:before {
          background: rgba($black, 0.5);
          border-radius: 50%;
          box-shadow: 0 1px 0 rgba($black, 0.5) inset, 0 1px 0 rgba($white, 0.5);
          content: ' ';
          height: 10px;
          left: 50%;
          margin: -5px 0 0 -5px;
          overflow: hidden;
          position: absolute;
          top: 50%;
          width: 10px;
        }

        &.active:after {
          background: rgba($white, 0.5);
          border-radius: 50%;
          box-shadow: 0 1px 0 $white inset;
          content: ' ';
          height: 6px;
          left: 50%;
          margin: -3px 0 0 -3px;
          overflow: hidden;
          position: absolute;
          top: 50%;
          width: 6px;
        }
      }
    }

    button[name="satellite"] {
      border-radius: 50%;
      font-size: 18px;

      &.active {
        background: rgba($white, 0.5);
      }
    }

    .sign-in {
      button[name="sign-in"] {
        standard-button();
        font-size: 10px;
      }
    }

    .favorite {
      display: none;

      button[name="favorite"],
      button[name="unfavorite"] {
        font-size: 24px;
      }

      button[name="unfavorite"] {
        color: $gold;
        display: none;
        text-shadow: 0 1px 1px $black;
      }
    }
  }

  &.playing .controls .play {
    button[name="play"] {
      display: none;
    }

    button[name="pause"] {
      display: inline-block;
    }
  }

  &.favorite .controls .favorite {
    button[name="favorite"] {
      display: none;
    }

    button[name="unfavorite"] {
      display: inline-block;
    }
  }
}

.signed-in .image-switcher .controls {
  .sign-in {
    display: none;
  }

  .favorite {
    display: inline;
  }
}
