.image-switcher {
  display: inline-block;

  .images {
    position: relative;

    figure {
      transition: opacity 0.33s ease-in-out, transform 0.25s ease-in-out;
      left: 0;
      margin: 0;
      opacity: 0.67;
      position: absolute;
      top: 0;

      &.before {
        transform: rotate(0.5deg) translateX(-2%);

        & + figure.before {
          transform: rotate(1.5deg) translateX(-1%);
        }
      }

      &.active {
        opacity: 1;
        position: relative;
        z-index: 1;
      }

      &.after {
        transform: rotate(-1deg) translateX(1%);

        & + figure.after {
          transform: rotate(2deg) translateX(2%);
        }
      }

      img {
        border: 5px solid $white;
        box-shadow: 0 3px 5px rgba($black, 0.33);
      }
    }
  }

  .toggles {
    margin-top: 20px;
    position: relative;
    text-align: center;

    button {
      color: transparent;
      height: 15px;
      position: relative;
      width: 15px;

      &:before {
        background: rgba($black, 0.5);
        border-radius: 50%;
        box-shadow: 0 1px 0 rgba($black, 0.5) inset, 0 1px 0 rgba($white, 0.5);
        content: ' ';
        height: 10px;
        left: 50%;
        margin: -5px 0 0 -5px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        width: 10px;
      }

      &.active:after {
        background: rgba($white, 0.5);
        border-radius: 50%;
        box-shadow: 0 1px 0 $white inset;
        content: ' ';
        height: 6px;
        left: 50%;
        margin: -3px 0 0 -3px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        width: 6px;
      }
    }
  }
}
