.language-picker
  position: absolute
  left: 50%
  margin-left: -445px // mimick positioning of zooniverse/show-top-bar

  select
    appearance: none
    background: transparent
    border: 0
    color: $white
    font: inherit
    font-size: 10px

    option
      color: $white
      background: $black

@media screen and (max-width: 1050px)
  .language-picker
    margin-left: 0
    left: 75px
