.language-picker
  float: left
  margin: 10px 0 0 10px

  select
    appearance: none
    background: transparent
    border: 0
    color: $white
    font: inherit
    font-size: 10px

    option
      color: $white
      background: $black