html {
  background: url("./images/big-wood.jpg") fixed center top;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  min-height: 100%;
  overflow-y: scroll;

  body {
    margin: 0;
    height: 100%;
    padding: 0 0 100px;
    position: relative;

    .before-load {
      color: $white;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      text-shadow: 0 1px 1px $black
    }

    .zooniverse-top-bar {
      background: $white;
      height: 2px
      #zooniverse-top-bar-container {
        overflow: hidden;
      }

    }

    &.show-top-bar .zooniverse-top-bar {
      #zooniverse-top-bar-container {
        height: auto;
        min-height: 100px;
      }
    }

    .main {
      z-index: 1;
      height 100%

      > * {
        display: none;

        &.active {
          display: block;
        }
      }

      a {
        color: inherit;
      }

      hr {
        height: 0;
        border: 1px solid transparent;
        border-top-color: rgba($black, 0.5);
        border-bottom-color: rgba($white, 0.25);
      }
    }
  }
}
