.profile {
  margin: 0 auto;
  width: 1000px;

  .sign-in {
    // TODO
  }

  .user-profile {
    color: $black;
    display: none;
    text-shadow: 0 1px 0 rgba($white, 0.5);

    nav {
      color: $white;
      text-shadow: 0 1px 1px $black;

      button {
        border-radius: 1em;
        color: inherit;
        padding: 0 15px 2px;
        text-decoration: none;

        &.active {
          background: rgba($black, 0.25);
          box-shadow: 0 1px 2px rgba($black, 0.5) inset, 0 -1px 0px rgba($white, 0.25) inset;
        }
      }
    }

    .page {
      clearfix();
      display: none;

      &.active {
        display: block;
      }

      p {
        clear: left;

        &.none,
        &.more {
          font-weight: bold;
          text-align: center;
        }
      }

      ul {
        clearfix();
        margin-left: -10px;
        margin-right: -10px;
        padding: 0;

        li {
          display: block;
          float: left;

          a {
            display: block;
            margin: 10px;

            figure {
              border: 5px solid $white;
              box-shadow: 0 2px 5px $black;
              box-sizing: border-box;
              margin: 0;
              width: 235px;

              img {
                display: block;
                width: 100%;
              }
            }
          }
        }
      }

      button[name="load-more"] {
        standard-button();
        outer-deboss();
        border-radius: 50%;
        font-size: 30px;
        height: 35px;
        line-height: 1;
        padding: 0;
        width: 35px;

        &:before {
          border-radius: 50%;
        }
      }
    }
  }
}

.signed-in .profile {
  .sign-in {
    display: none;
  }

  .user-profile {
    display: block;
  }
}
