.panel
  background $white
  border-radius 5px
  box-shadow 0 5px 10px rgba($black, 0.33)
  color $black
  margin 5px 30px
  padding 6px 10px
  position absolute
  top 0
  right 0
  z-index 2
  
  select.filter
    text-transform capitalize
  
  button[name='clear-filters']
    font-size 20px

  button[name='clear-filters']:hover
    font-size 20px
    color: red

.profile {
  margin: 0 auto;
  max-width: 1000px;

  .zooniverse-login-form {
    color: $white
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 1px 1px $black
    width: 33em;

    .title {
      font-size: 16px;
      font-weight: bold;
    }

    form {
      label {
        display: block;
        margin: 20px 0;
        outer-deboss: 5px;
        padding: 5px 0;
        position: relative;

        > span {
          display: inline-block;
          text-align: left;
          width: 10em;
        }
      }

      input[type="text"],
      input[type="password"] {
        width: 20em;
      }

      button {
        @extend #standard-button;
        font-weight: bold;
      }
    }

    .picker {
      margin-top: 20px;

      button {
        text-decoration: underline;
      }
    }
  }

  .user-profile {
    color: $black;
    display: none;
    text-shadow: 0 1px 0 rgba($white, 0.5);

    nav {
      color: $white;
      text-shadow: 0 1px 1px $black;

      button {
        border-radius: 1em;
        color: inherit;
        padding: 0 15px 2px;
        position: relative;
        text-decoration: none;

        &.active {
          outer-deboss: 0;

          &:before {
            border-radius: 1em;
          }
        }
      }
    }

    .page {
      clearfix();
      display: none;

      &.active {
        display: block;
      }
      
      p {
        clear: left;

        &.none,
        &.more {
          font-weight: bold;
          text-align: center;
        }
      }

      ul {
        clearfix();
        padding: 0;

        li {
          box-shadow: 0 2px 5px $black;
          display: block;
          float: left;
          margin: 10px;
          position: relative;

          a {
            display: block;
            overflow: hidden;
            position: relative;

            figure {
              border: 5px solid $white;
              box-sizing: border-box;
              margin: 0;
              width: 230px;

              img {
                border: 0;
                display: block;
                width: 100%;
              }
            }
          }

          &.new a:before {
            background: linear-gradient(left, darken($red, 50%), $red 50%, darken($red, 50%));
            box-shadow: 0 1px 2px rgba($black, 0.5);
            color: $white;
            content: "New"
            font-size: 10px;
            height: 15px;
            font-weight: bold;
            left: 0;
            position: absolute;
            text-align: center;
            text-shadow: 0 1px 1px $black;
            text-transform: uppercase;
            top: 0;
            transform: translate(-30px, 10px) rotate(-45deg);
            width: 100px;
          }

          button[name="delete"] {
            height: 1em;
            line-height: 1em;
            position: absolute;
            right: 5px;
            text-align: center;
            top: 5px;
            width: 1em;
          }
        }
      }

      button[name="load-more"] {
        @extend #standard-button;
        border-radius: 50%;
        font-size: 30px;
        height: 35px;
        line-height: 18px;
        outer-deboss: 5px;
        padding: 0;
        width: 35px;

        &:before {
          border-radius: 50%;
        }
      }
    }
  }

  &.signed-in {
    .sign-in {
      display: none;
    }

    .user-profile {
      display: block;
    }
  }

  &.has-favorites .favorites .none {
    display: none;
  }

  &.has-recents .recents .none {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    .user-profile .page ul li {
      float: none;
      margin: 10px auto;
      max-width: 310px;

      a figure {
        max-width: 310px;
        width: 100%;
      }
    }
    .sign-in.zooniverse-login-form {
      max-width: 100%;
      form label span {
        text-align: center;
      }
    }
  }
}
