.subject-viewer {
  display: inline-block;
  float: left;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    // For now, so Miller doesn't kill me.
    // TODO: Make it clear that this is in focus.
    outline: 0;
  }

  .images {
    position: relative;

    figure {
      border: 5px solid $white;
      box-sizing: border-box;
      // height: 410px;
      left: 0;
      margin: 0;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      max-width: 580px;

      &.active {
        box-shadow: 0 3px 5px rgba($black, 0.33);
        opacity: 1;
        position: relative;
        z-index: 1;
      }

      &.satellite {
        left: 0;
        position: absolute;
        top: 0;

        img {
          width: 100%;

          &.continent {
            bottom: 1px;
            box-shadow: 1px -1px 5px $black;
            left: 1px;
            height: 150px;
            position: absolute;
            width: 150px;
          }
        }

        .timestamp {
          background: rgba($black, 0.5);
          color: $white;
          position: absolute;
          left: 0;
          text-align: center;
          text-shadow: 0 1px 1px $black;
          top: 0;
          width: 100%;
        }
      }

      img {
        display: block;
        width: 100%;
      }
    }

    .annotations {
      color: $white;
      font-size: 10px;
      font-weight: bold;
      position: absolute;
      left: 10px;
      text-shadow: 0 0 1px $black, 0 0 1px $black, 0 0 1px $black, 0 0 2px $black, 0 1px 2px $black;
      top: 10px;
      z-index: 1;

      .annotation-item {
        transition: background 0.5s ease-in-out;
        border-radius: 20px;
        clear: left;
        float: left;
        padding: 1px 5px 1px 10px;

        &.new {
          background: $gold;
        }

        &:hover {
          transition: none;
          background: rgba($black, 0.75);
        }

        button[name="delete"] {
          border-radius: 50%;
          height: 1em;
          line-height: 1em;
          text-align: center;
          width: 1em;
        }
      }
    }

    .extra-message {
      background: rgba($black, 0.75);
      bottom: 5px;
      color: $white;
      display: none;
      font-size: 12px;
      font-weight: bold;
      left: 5px;
      padding: 10px;
      position: absolute;
      right: 5px;
      text-align: center;
      text-shadow: 0 1px 1px $black;
      z-index: 1;
    }

    .sign-in,
    .favorite {
      background: $red;
      color: $white;
      font-size: 12px;
      font-weight: bold;
      position: absolute;
      transition: padding 0.25s ease-out;
      z-index: 1;

      > button {
        position: relative;
        z-index: 1;
      }
    }

    .sign-in {
      box-shadow: 0 1px 3px rgba($black, 0.5);
      padding: 0 10px;
      right: -3px;
      top: 10px;

      &:hover {
        padding-right: 15px;
      }

      &:before,
      &:after {
        border: 10px solid rgba($red, 0);
        content: "";
        position: absolute;
        left: -10px;
      }

      &:before {
        border-top-color: $red;
        top: 0;
      }

      &:after {
        border-bottom-color: $red;
        bottom: 0;
      }
    }

    .favorite {
      display: none;
      font-size: 16px;
      padding: 5px 5px 0;
      right: 10px;
      top: -3px;

      &:hover {
        padding-top: 10px;
      }

      &:before,
      &:after {
        border: 15px solid transparent;
        content: "";
        position: absolute;
        bottom: -15px;
      }

      &:before {
        border-left-color: $red;
        left: 0;
      }

      &:after {
        border-right-color: $red;
        right: 0;
      }

      button[name="unfavorite"] {
        color: $gold;
        display: none;
        text-shadow: 0 1px 1px $black;
      }
    }
  }

  .controls,
  .followup {
    color: darken($brown, 67%);
    font-size: 14px;
    margin: 15px 0 4px;
    position: relative;
    text-shadow: 0 1px 0 rgba($white, 0.25);
  }

  .controls {
    .play button,
    .finished button {
      @extend #standard-button;
      margin: 0 4px;
      outer-deboss: 5px;
      position: relative;
    }

    button[name="play"],
    button[name="pause"] {
      i {
        position: relative;
        top: 2px;
      }
    }

    button[name="pause"] {
      display: none;
    }

    .toggles {
      margin-left: 10px;
    }

    button[name="toggle"] {
      @extend #standard-toggle;
    }

    .satellite {
      margin-left: 5px;
    }

    button[name="satellite"] {
      vertical-align: -2px;

      &.active {
        color $white;
        text-shadow: 0 1px 1px $black;
      }
    }

    .finished {
      float: right;

      .clickable-label {
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        margin-right: 10px;

        &.nothing-label {
          visibility: hidden;
        }
      }

      button {
        width: 120px;
      }
    }
  }

  .followup {
    display: none;

    button[name="not-done"] {
      background: rgba($black, 0.5);
      border-radius: 15px;
      color: $white;
      font-size: 10px;
      margin-right: 10px;
      padding: 0 10px;
      text-shadow: none;
    }

    .group {
      display: inline-block;
      margin: 0 5px;
      outer-deboss: 4px;
      position: relative;

      &.continue {
        float: right;
      }

      a,
      button {
        @extend #standard-button;
        padding-left: 32px;

        i {
          color: $black;
          border-right: 1px solid rgba($black, 0.5);
          box-shadow: 2px 0 1px -1px rgba($white, 0.25);
          height: 22px;
          left: 0
          line-height: 20px;
          position: absolute;
          top: 3px;
          text-shadow: 0 1px 0 rgba($white, 0.25);
          width: 24px;
        }
      }

      button[name="next"] {
        background: darken($green-really, 25%);

        &:active {
          background: darken($green-really, 50%);
        }
      }
    }
  }

  &.zoomed .images figure {
    cursor: -moz-grab;

    img {
      position: absolute;
      width: 1200px;
    }
  }

  &.dragging .images figure {
    cursor: -moz-grabbing;
  }

  &.playing .controls .play {
    button[name="play"] {
      display: none;
    }

    button[name="pause"] {
      display: inline-block;
    }
  }

  &.favorite .images .favorite {
    button[name="favorite"] {
      display: none;
    }

    button[name="unfavorite"] {
      display: inline-block;
    }
  }

  &.no-annotations .controls .finished .clickable-label.nothing-label {
    visibility: visible;
  }

  &.finished {
    .images .extra-message {
      display: block;
    }

    .controls {
      display: none;
    }

    .followup {
      display: block;
    }
  }
}

.signed-in .subject-viewer .images {
  .sign-in {
    display: none;
  }

  .favorite {
    display: inline;
  }

}

@media screen and (max-width: 1000px) {
  .subject-viewer {
    display: block;
    margin: 0 auto;
    max-width: 580px;
    float: none;
  }
}
