.tutorial.zootorial-dialog {
  background: $white;
  border-radius: 5px;
  color: $black;
  font-size: 12px;
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  transition: left 0.25s ease-out, margin 0.5s ease-out 0.5s, top 0.25s ease-out 0.125s;

  button[name="close"] {
    font-size: 18px;
    height: 1em;
    line-height: 1em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 1em;
  }

  > .header {
    font-size: 18px;
    font-weight: bold;
  }

  > .footer {
    margin: 1em;
    text-align: center;

    button {
      standard-button($green-really);
    }
  }

  &.arrow {
    &:after {
      border: 15px solid transparent;
      content: "";
      position: absolute;
    }

    &.up {
      margin-top: 15px;

      &:after {
        bottom: 100%;
        border-bottom-color: $white;
        left: 50%;
        margin-left: -15px;
      }
    }

    &.right {
      margin-left: -15px;

      &:after {
        border-left-color: $white
        left: 100%;
        margin-top: -15px;
        top: 50%
      }
    }

    &.down {
      margin-top: -15px;

      &:after {
        border-top-color: $white;
        left: 50%;
        margin-left: -15px;
        top: 100%;
      }
    }

    &.left {
      margin-left: 15px;

      &:after {
        border-right-color: $white;
        margin-top: -15px;
        right: 100%;
        top: 50%;
      }
    }
  }
}

.zootorial-focuser {
  background: $black;
  opacity: 0.75;
  transition: opacity 0.25s ease-in-out;

  &.hidden {
    opacity: 0;
  }
}
