.tutorial.zootorial-dialog {
  background: $white;
  border-radius: 5px;
  box-shadow: 0 0 0 5px rgba($black, 0.5);
  color: $black;
  font-size: 12px;
  width: 300px;
  padding: 0 20px;
  position: absolute;
  transition: left 0.25s ease-out, top 0.25s ease-out 0.125s;

  button[name="close"] {
    font-size: 18px;
    height: 1em;
    line-height: 1em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 1em;
  }

  > .header {
    font-size: 18px;
    font-weight: bold;
  }

  > .footer {
    margin: 1em;
    text-align: center;

    button {
      @extend #standard-button;
      background: $green-really;
    }
  }

  &.arrow {
    $arrow-size = 10px;

    &:before,
    &:after {
      border: $arrow-size solid transparent;
      content: "";
      position: absolute;
    }

    &:before {
      border-width: $arrow-size + 2
    }

    &.up {
      &:before,
      &:after {
        bottom: 100%;
        border-bottom-color: $white;
        border-top-width: 0;
        left: 50%;
        margin-left: $arrow-size * -1;
      }

      &:before {
        border-bottom-color: rgba($black, 0.5);
        margin-left: ($arrow-size * -1) - 2;
      }
    }

    &.right {
      &:before,
      &:after {
        border-left-color: $white
        border-right-width: 0;
        left: 100%;
        margin-top: $arrow-size * -1;
        top: 50%
      }

      &:before {
        border-left-color: rgba($black, 0.5);
        margin-top: ($arrow-size * -1) - 2;
      }
    }

    &.down {
      &:before,
      &:after {
        border-top-color: $white;
        border-bottom-width: 0;
        left: 50%;
        margin-left: $arrow-size * -1;
        top: 100%;
      }

      &:before {
        border-top-color: rgba($black, 0.5);
        margin-left: ($arrow-size * -1) - 2;
      }
    }

    &.left {
      &:before,
      &:after {
        border-right-color: $white;
        margin-top: $arrow-size * -1;
        border-left-width: 0;
        right: 100%;
        top: 50%;
      }

      &:before {
        border-right-color: rgba($black, 0.5);
        margin-top: ($arrow-size * -1) - 2;
      }
    }
  }
}

.zootorial-focuser {
  background: $black;
  opacity: 0.75;
  transition: opacity 0.25s ease-in-out;

  &.hidden {
    opacity: 0;
  }
}
